In [5]:
'''
pignotti.danilo@gmail.com
emanuele.tufarini@live.com
'''

import os, sys
PATH = os.getcwd()
# import functions from the functions folder
LIBRARY_PATH = PATH + "/FUNCTIONS/"
sys.path.append(LIBRARY_PATH)

print ("\nupload files are in the INPUT folder (or create file with notebook)\n")

from gene_ontology_entityfinder import *

upload files are in the INPUT folder (or create file with notebook)

In [6]:
gene_ontology_entityfinder()

[INFO] the function gene_ontology_entityfinder() retrieves gene ontology database entity code/IDs and other informations on all the GO_entity related to a gene ENSEMBL_ID or a list of gene ENSEMBL_IDs

Please enter a gene ENSEMBL_ID or a list of gene ENSEMBL_IDS comma separated [i.e. ENSBTAG00000012023 or ENSBTAG00000012023,ENSBTAG00000014486,...,ENSBTAG00000016484]:ENSBTAG00000001842

       ensembl_gene_ID database_ID
0   ENSBTAG00000001842  GO:0004364
1   ENSBTAG00000001842  GO:0005515
2   ENSBTAG00000001842  GO:0005737
3   ENSBTAG00000001842  GO:0005829
4   ENSBTAG00000001842  GO:0006749
5   ENSBTAG00000001842  GO:0016740
6   ENSBTAG00000001842  GO:0018916
7   ENSBTAG00000001842  GO:0019899
8   ENSBTAG00000001842  GO:0035686
9   ENSBTAG00000001842  GO:0042178
10  ENSBTAG00000001842  GO:0042802
11  ENSBTAG00000001842  GO:0042803
12  ENSBTAG00000001842  GO:0043295
13  ENSBTAG00000001842  GO:0043627
14  ENSBTAG00000001842  GO:0045171
15  ENSBTAG00000001842  GO:0070458

after displayed GEN_DB table example do you want to save results in a .csv file in INPUT folder? (i.e. yes or not): yes

,database_ID,database_object_type,database_object_name
0,GO:0004364,molecular_function,glutathione transferase activity
1,GO:0005515,molecular_function,protein binding
2,GO:0005737,cellular_component,cytoplasm
3,GO:0005829,cellular_component,cytosol
4,GO:0006749,biological_process,glutathione metabolic process
5,GO:0016740,molecular_function,transferase activity
6,GO:0018916,biological_process,nitrobenzene metabolic process
7,GO:0019899,molecular_function,enzyme binding
8,GO:0035686,cellular_component,sperm fibrous sheath
9,GO:0042178,biological_process,xenobiotic catabolic process
10,GO:0042802,molecular_function,identical protein binding
11,GO:0042803,molecular_function,protein homodimerization activity
12,GO:0043295,molecular_function,glutathione binding
13,GO:0043627,biological_process,response to estrogen
14,GO:0045171,cellular_component,intercellular bridge
15,GO:0070458,biological_process,cellular detoxification of nitrogen compound

after displayed DB table example do you want to save results in a .csv file in INPUT folder? (i.e. yes or not): yes

'All done, thank you for processing Gene Ontology database data'