# run to export data from the database

In [2]:
'''
pignotti.danilo@gmail.com
emanuele.tufarini@live.com
last modification 12/2020
'''

import os, sys
directory = os.getcwd()
# import functions from the functions folder
library_directory = directory + "/FUNCTIONS/"
sys.path.append(library_directory)
# import database export function
from MIQUALAT_data_export import *

# database export 
miqualat_db_data_exporter(host="localhost",db="MIQUALAT",port=3306)

enter your username: root
enter your password: ········

tables selection menu from which to export data:

enter 1 to export data from database MIQUALAT following table: GENE;
enter 2 to export data from database MIQUALAT following table: DB;
enter 3 to export data from database MIQUALAT following table: GEN_DB;
enter 4 to export data from database MIQUALAT following table: PUBLICATION;
enter 5 to export data from database MIQUALAT following table: TECNIQUE;
enter 6 to export data from database MIQUALAT following table: TAG;
enter 7 to export data from database MIQUALAT following table: VARIANT;
enter 8 to export data from database MIQUALAT following table: PUB_GEN_VAR_TEC_TAG;

enter tables selection numbers (i.e. 7 or 1,2,3): 1

queires selection menu to export data from table GENE:

1: to extract all table records;
2: to extract specific record relative to an input ensembl ID;
3: to extract specific record relative to an input gene_name;
4: to extract all the species and relative refseq version;
5: to count genes total numbers sorted by species;
6: to extract all genes from an input species;
7: to extract all genes located on an input chromosome for an input species;
8: to extract all genes located between start and end input coordinates on an input chromosome for an input species;

enter GENE table queries selection numbers (i.e. 4 or 1,2,3): 1

,ensembl_gene_ID,gene_name,gene_short_description,refseq,species,chromosome,start_coordinate,end_coordinate,strand
0,ENSBTAG00000000005,GRK3,G protein-coupled receptor kinase 3,ARS-UCD1.2,bos taurus,17,65389743,65505336,1
1,ENSBTAG00000000008,KCNJ1,potassium inwardly rectifying channel subfamil...,ARS-UCD1.2,bos taurus,29,32214439,32244810,-1
2,ENSBTAG00000000009,FOXF1,forkhead box F1,ARS-UCD1.2,bos taurus,18,12338037,12342272,1
3,ENSBTAG00000000010,UBL7,ubiquitin like 7,ARS-UCD1.2,bos taurus,21,34209956,34223394,1
4,ENSBTAG00000000011,TDH,L-threonine dehydrogenase,ARS-UCD1.2,bos taurus,8,7950815,7971600,-1
...,...,...,...,...,...,...,...,...,...
27265,ENSBTAG00000055312,None,None,ARS-UCD1.2,bos taurus,2,96551552,96557130,1
27266,ENSBTAG00000055313,bta-mir-12025,bta-mir-12025,ARS-UCD1.2,bos taurus,21,65169462,65169520,1
27267,ENSBTAG00000055314,OR3A1,"olfactory receptor, family 3, subfamily A, mem...",ARS-UCD1.2,bos taurus,19,24021135,24051219,-1
27268,ENSBTAG00000055315,None,None,ARS-UCD1.2,bos taurus,8,102574538,102575815,1
27269,ENSBTAG00000055316,None,None,ARS-UCD1.2,bos taurus,2,94738416,94738887,1

after displayed exportation example do you want to save results in a .csv file in OUTPUT folder? (i.e. yes or not): yes