# run to export data from the database

In [8]:
'''
pignotti.danilo@gmail.com
emanuele.tufarini@live.com
last modification 12/2020
'''

import os, sys
directory = os.getcwd()
# import functions from the functions folder
library_directory = directory + "/FUNCTIONS/"
sys.path.append(library_directory)
# import database export function
from MIQUALAT_data_export import *

# database export 
miqualat_db_data_exporter()

To customize the output files please enter these credentials:
Enter your name: Danilo
Enter your surname: Pignotti
enter your username: danilo
enter your password: ········

tables selection menu from which to export data:

enter 1 to export data from database MIQUALAT following table: GENE;
enter 2 to export data from database MIQUALAT following table: DB;
enter 3 to export data from database MIQUALAT following table: GEN_DB;
enter 4 to export data from database MIQUALAT following table: PUBLICATION;
enter 5 to export data from database MIQUALAT following table: TECNIQUE;
enter 6 to export data from database MIQUALAT following table: TAG;
enter 7 to export data from database MIQUALAT following table: VARIANT;
enter 8 to export data from database MIQUALAT following table: PUB_GEN_VAR_TEC_TAG;

enter tables selection numbers (i.e. 7 or 1,2,3): 1,2,3,4,5,6,7,8

queires selection menu to export data from table GENE:

1: to extract all table records;
2: to extract specific record relative to an input ensembl ID;
3: to extract specific record relative to an input gene_name;
4: to extract all the species and relative refseq version;
5: to count genes total numbers sorted by species;
6: to extract all genes from an input species;
7: to extract all genes located on an input chromosome for an input species;
8: to extract all genes located between start and end input coordinates on an input chromosome for an input species;

enter GENE table queries selection numbers (i.e. 4 or 1,2,3): 1

,ensembl_gene_ID,gene_name,gene_short_description,refseq,species,chromosome,start_coordinate,end_coordinate,strand
0,ENSBTAG00000000005,GRK3,G protein-coupled receptor kinase 3,ARS-UCD1.2,bos taurus,17,65389743,65505336,1
1,ENSBTAG00000000008,KCNJ1,potassium inwardly rectifying channel subfamil...,ARS-UCD1.2,bos taurus,29,32214439,32244810,-1
2,ENSBTAG00000000009,FOXF1,forkhead box F1,ARS-UCD1.2,bos taurus,18,12338037,12342272,1
3,ENSBTAG00000000010,UBL7,ubiquitin like 7,ARS-UCD1.2,bos taurus,21,34209956,34223394,1
4,ENSBTAG00000000011,TDH,L-threonine dehydrogenase,ARS-UCD1.2,bos taurus,8,7950815,7971600,-1
...,...,...,...,...,...,...,...,...,...
27265,ENSBTAG00000055312,None,None,ARS-UCD1.2,bos taurus,2,96551552,96557130,1
27266,ENSBTAG00000055313,bta-mir-12025,bta-mir-12025,ARS-UCD1.2,bos taurus,21,65169462,65169520,1
27267,ENSBTAG00000055314,OR3A1,"olfactory receptor, family 3, subfamily A, mem...",ARS-UCD1.2,bos taurus,19,24021135,24051219,-1
27268,ENSBTAG00000055315,None,None,ARS-UCD1.2,bos taurus,8,102574538,102575815,1
27269,ENSBTAG00000055316,None,None,ARS-UCD1.2,bos taurus,2,94738416,94738887,1

after displayed exportation example do you want to save results in a .csv file in OUTPUT folder? (i.e. yes or not): yes

queires selection menu to export data from table DB:

1: to extract all table records;
2: to extract all record fields relative to an input database_ID;
3: to extract all record fields relative to an input compound name (or pathway or molecule) to search into field database_object_name;

enter DB table queries selection numbers (i.e. 4 or 1,2,3): 1

,database_ID,database_object_type,database_object_name
0,GO:0000166,molecular_function,nucleotide binding
1,GO:0000287,molecular_function,magnesium ion binding
2,GO:0004601,molecular_function,peroxidase activity
3,GO:0004602,molecular_function,glutathione peroxidase activity
4,GO:0005391,molecular_function,sodium:potassium-exchanging ATPase activity
5,GO:0005524,molecular_function,ATP binding
6,GO:0005783,cellular_component,endoplasmic reticulum
7,GO:0005802,cellular_component,trans-Golgi network
8,GO:0005886,cellular_component,plasma membrane
9,GO:0006811,biological_process,ion transport
10,GO:0006813,biological_process,potassium ion transport
11,GO:0006883,biological_process,cellular sodium ion homeostasis
12,GO:0006979,biological_process,response to oxidative stress
13,GO:0008556,molecular_function,"potassium transmembrane transporter activity, ..."
14,GO:0008900,molecular_function,potassium:proton exchanging ATPase activity
15,GO:0010248,biological_process,establishment or maintenance of transmembrane ...
16,GO:0015914,biological_process,phospholipid transport
17,GO:0016020,cellular_component,membrane
18,GO:0016021,cellular_component,integral component of membrane
19,GO:0016491,molecular_function,oxidoreductase activity
20,GO:0019829,molecular_function,ATPase-coupled cation transmembrane transporte...
21,GO:0030007,biological_process,cellular potassium ion homeostasis
22,GO:0036376,biological_process,sodium ion export across plasma membrane
23,GO:0045332,biological_process,phospholipid translocation
24,GO:0046872,molecular_function,metal ion binding
25,GO:0055037,cellular_component,recycling endosome
26,GO:0055114,biological_process,oxidation-reduction process
27,GO:0071805,biological_process,potassium ion transmembrane transport
28,GO:0098655,biological_process,cation transmembrane transport
29,GO:0098869,biological_process,cellular oxidant detoxification
30,GO:0140326,molecular_function,ATPase-coupled intramembrane lipid transporter...
31,GO:1902600,biological_process,proton transmembrane transport
32,GO:1990573,biological_process,potassium ion import across plasma membrane
33,R-BTA-3299685,reactome_pathway,Detoxification of Reactive Oxygen Species
34,R-BTA-936837,reactome_pathway,Ion transport by P-type ATPases

after displayed exportation example do you want to save results in a .csv file in OUTPUT folder? (i.e. yes or not): yes

queires selection menu to export data from table GEN_DB:

1: to extract all table records;
2: to extract database_id,ensembl_gene_ID,gene_name,species of all genes relative to an input compound name (or pathway or molecule) to search into field database_object_name;
3: to extract all DB record fields related to an input species and an input database_object_type (gene, pathway, protein, enzyme, biological process, molecular function or others);

enter GEN_DB table queries selection numbers (i.e. 4 or 1,2,3): 1

       ensembl_gene_ID    database_ID
0   ENSBTAG00000014486     GO:0000166
1   ENSBTAG00000016484     GO:0000166
2   ENSBTAG00000016484     GO:0000287
3   ENSBTAG00000012023     GO:0004601
4   ENSBTAG00000012023     GO:0004602
5   ENSBTAG00000014486     GO:0005391
6   ENSBTAG00000014486     GO:0005524
7   ENSBTAG00000016484     GO:0005524
8   ENSBTAG00000016484     GO:0005783
9   ENSBTAG00000016484     GO:0005802
10  ENSBTAG00000016484     GO:0005886
11  ENSBTAG00000014486     GO:0006811
12  ENSBTAG00000014486     GO:0006813
13  ENSBTAG00000014486     GO:0006883
14  ENSBTAG00000012023     GO:0006979
15  ENSBTAG00000014486     GO:0008556
16  ENSBTAG00000014486     GO:0008900
17  ENSBTAG00000014486     GO:0010248
18  ENSBTAG00000016484     GO:0015914
19  ENSBTAG00000014486     GO:0016020
20  ENSBTAG00000016484     GO:0016020
21  ENSBTAG00000014486     GO:0016021
22  ENSBTAG00000016484     GO:0016021
23  ENSBTAG00000012023     GO:0016491
24  ENSBTAG00000014486     GO:0019829
25  ENSBTAG00000014486     GO:0030007
26  ENSBTAG00000014486     GO:0036376
27  ENSBTAG00000016484     GO:0045332
28  ENSBTAG00000014486     GO:0046872
29  ENSBTAG00000016484     GO:0046872
30  ENSBTAG00000016484     GO:0055037
31  ENSBTAG00000012023     GO:0055114
32  ENSBTAG00000014486     GO:0071805
33  ENSBTAG00000014486     GO:0098655
34  ENSBTAG00000012023     GO:0098869
35  ENSBTAG00000016484     GO:0140326
36  ENSBTAG00000014486     GO:1902600
37  ENSBTAG00000014486     GO:1990573
38  ENSBTAG00000012023  R-BTA-3299685
39  ENSBTAG00000014486   R-BTA-936837
40  ENSBTAG00000016484   R-BTA-936837

after displayed exportation example do you want to save results in a .csv file in OUTPUT folder? (i.e. yes or not): yes

queires selection menu to export data from table PUBLICATION:

1: to extract all table records;
2: to extract all record fields of a paper relative to an input pubmed_ID;
3: to extract all record fields of a paper relative to an input doi;
4: to extract all record fields of all papers relative to an input journal;
5: to extract all record fields of all papers relative to an input author to search into field authors_name;
6: to extract all record fields of all papers relative to an input publication year date;

enter PUBLICATION table queries selection numbers (i.e. 4 or 1,2,3): 1

,pubmed_ID,doi,article_title,article_authors,article_journal,publication_year
0,29024632,10.1016/j.bbrc.2017.10.038,Quantitative proteome analysis of bovine mamma...,"Xianrui Zheng, Chao Ning, Yichun Dong, Pengju ...",Biochemical and Biophysical Research Communica...,2017

after displayed exportation example do you want to save results in a .csv file in OUTPUT folder? (i.e. yes or not): yes

queires selection menu to export data from table TECNIQUE:

1: to extract all table records;
2: to extract all record fields relative to an input tecnique;
3: to extract all record fields relative to an input term to search into field tecnique_short_description;

enter TECNIQUE table queries selection numbers (i.e. 4 or 1,2,3): 1

                tecnique                         tecnique_short_description
0  TMT_LC-MS/MS_SDS-PAGE   Tandem Mass Tags label-based quantitative ana...

after displayed exportation example do you want to save results in a .csv file in OUTPUT folder? (i.e. yes or not): yes

queires selection menu to export data from table TAG:

1: to extract all table records;
2: to extract all record fields relative to an input keyword_tag;
3: to extract all record fields relative to an input term to search into field keyword_tags;
4: to extract all record fields relative to an input term to search into field tags_short_description;

enter TAG table queries selection numbers (i.e. 4 or 1,2,3): 1

     keyword_tags                             tags_short_description
0     glutathione  genes related to glutathione metabolism and an...
1            GWAS                    Genome-Wide Association Studies
2        holstein                              holstein cattle breed
3  late lactation  the ultimate phase of lactation (biopsies mamm...
4   mammary gland  biopsies of mammary gland tissues at different...
5   mastitis-free    biopsies of mastitis free mammary gland tissues
6  peak lactation  the peak phase of lactation (biopsies mammary ...

after displayed exportation example do you want to save results in a .csv file in OUTPUT folder? (i.e. yes or not): yes

queires selection menu to export data from table VARIANT:

1: to extract all table records;
2: to extract all record fields relative to an input variant_name;
3: to extract all record fields of all variants relative to an input ensembl_gene_ID;
4: to extract all record fields of all variant relative to an input gene_name of an input species;
5: to extract all record fields of all variants and the respective ensembl_gene_ID and gene_name relative to an input species;
6: to extract all record fields of all variants and the respective ensembl_gene_ID and gene_name relative to an input species and an input chromosome;

enter VARIANT table queries selection numbers (i.e. 4 or 1,2,3): 1

,variant_name,variant_type,chromosome,position,reference_allele,alternative_allele,rs_ID,species,refseq
0,BosTau11_1:3824700_C|A,esonic,1,3824700,C,A,rs0000000,Bos taurus,ARS-UCD1.2
1,BosTau11_7:62284800_A|G,intronic,7,62284800,A,G,rs1234567,Bos taurus,ARS-UCD1.2
2,BosTau11_7:62284999_A|T,missens_intronic,7,62284999,A,T,rs9876543,Bos taurus,ARS-UCD1.2

after displayed exportation example do you want to save results in a .csv file in OUTPUT folder? (i.e. yes or not): yes

queires selection menu to export data from table PUB_GEN_VAR_TEC_TAG:

1: to extract all table records;
2: to extract pubmed_ID,doi,article_title of all publications related to an input ensembl_gene_ID;
3: to extract pubmed_ID,doi,article_title of all publications related to an input gene_name;
4: to extract ensembl_gene_ID and gene_name of all genes related to an input pubmed_ID;
5: to extract ensembl_gene_ID and gene_name of all genes related to an input doi;
6: to extract pubmed_ID,doi,article_title and ensembl_gene_ID and gene_name of all publications and genes related to an input keyword_tag;
7: to extract ensembl_gene_ID and gene_name of all genes related to an input variant_name;
8: to extract all tecnique informations of all tecniques related to an input pubmed_ID;
9: to extract all database_ID informations of all database_IDs (gene, pathway, protein, enzyme...etc.) related to an input pubmed_ID;
10: to extract pubmed_ID,doi,article_title,ensembl_gene_ID and gene_name of all publications and genes related to an input database_ID (database code of gene, pathway, protein, enzyme...etc.);
11: to extract pubmed_ID,doi,article_title,ensembl_gene_ID and gene_name of all publications and genes related to an input compound name to search into database_object_name;
12: to extract all record fields and gene_name related to an input pubmed_ID;
13: to extract all record fields and gene_name related to an input doi;
14: to extract pubmed_ID,doi,article_title and tecnique_name and keyword_tag related to an input ensembl_gene_ID;
15: to extract pubmed_ID,doi,article_title and tecnique_name and keyword_tag related to an input gene_name;

enter PUB_GEN_VAR_TEC_TAG table queries selection numbers (i.e. 4 or 1,2,3): 1

,integer_progressive_ID,pubmed_ID,ensembl_gene_ID,variant_name,tecnique,keyword_tags,relationship_note
0,1,29024632,ENSBTAG00000043553,BosTau11_7:62284800_A|G,TMT_LC-MS/MS_SDS-PAGE,glutathione,proteins identified by proteome tecnique pipel...
1,2,29024632,ENSBTAG00000043553,BosTau11_7:62284999_A|T,TMT_LC-MS/MS_SDS-PAGE,glutathione,proteins identified by proteome tecnique pipel...
2,3,29024632,ENSBTAG00000018854,BosTau11_1:3824700_C|A,TMT_LC-MS/MS_SDS-PAGE,glutathione,proteins identified by proteome tecnique pipel...
3,4,29024632,ENSBTAG00000013980,None,TMT_LC-MS/MS_SDS-PAGE,glutathione,proteins identified by proteome tecnique pipel...
4,5,29024632,ENSBTAG00000001842,None,TMT_LC-MS/MS_SDS-PAGE,glutathione,proteins identified by proteome tecnique pipel...
5,6,29024632,ENSBTAG00000043553,BosTau11_7:62284800_A|G,TMT_LC-MS/MS_SDS-PAGE,holstein,proteins identified by proteome tecnique pipel...
6,7,29024632,ENSBTAG00000043553,BosTau11_7:62284999_A|T,TMT_LC-MS/MS_SDS-PAGE,holstein,proteins identified by proteome tecnique pipel...
7,8,29024632,ENSBTAG00000018854,BosTau11_1:3824700_C|A,TMT_LC-MS/MS_SDS-PAGE,holstein,proteins identified by proteome tecnique pipel...
8,9,29024632,ENSBTAG00000013980,None,TMT_LC-MS/MS_SDS-PAGE,holstein,proteins identified by proteome tecnique pipel...
9,10,29024632,ENSBTAG00000001842,None,TMT_LC-MS/MS_SDS-PAGE,holstein,proteins identified by proteome tecnique pipel...
10,11,29024632,ENSBTAG00000043553,BosTau11_7:62284800_A|G,TMT_LC-MS/MS_SDS-PAGE,mammary gland,proteins identified by proteome tecnique pipel...
11,12,29024632,ENSBTAG00000043553,BosTau11_7:62284999_A|T,TMT_LC-MS/MS_SDS-PAGE,mammary gland,proteins identified by proteome tecnique pipel...
12,13,29024632,ENSBTAG00000018854,BosTau11_1:3824700_C|A,TMT_LC-MS/MS_SDS-PAGE,mammary gland,proteins identified by proteome tecnique pipel...
13,14,29024632,ENSBTAG00000013980,None,TMT_LC-MS/MS_SDS-PAGE,mammary gland,proteins identified by proteome tecnique pipel...
14,15,29024632,ENSBTAG00000001842,None,TMT_LC-MS/MS_SDS-PAGE,mammary gland,proteins identified by proteome tecnique pipel...
15,16,29024632,ENSBTAG00000043553,BosTau11_7:62284800_A|G,TMT_LC-MS/MS_SDS-PAGE,Mastitis-free,proteins identified by proteome tecnique pipel...
16,17,29024632,ENSBTAG00000043553,BosTau11_7:62284999_A|T,TMT_LC-MS/MS_SDS-PAGE,Mastitis-free,proteins identified by proteome tecnique pipel...
17,18,29024632,ENSBTAG00000018854,BosTau11_1:3824700_C|A,TMT_LC-MS/MS_SDS-PAGE,Mastitis-free,proteins identified by proteome tecnique pipel...
18,19,29024632,ENSBTAG00000013980,None,TMT_LC-MS/MS_SDS-PAGE,Mastitis-free,proteins identified by proteome tecnique pipel...
19,20,29024632,ENSBTAG00000001842,None,TMT_LC-MS/MS_SDS-PAGE,Mastitis-free,proteins identified by proteome tecnique pipel...
20,21,29024632,ENSBTAG00000043553,BosTau11_7:62284800_A|G,TMT_LC-MS/MS_SDS-PAGE,peak lactation,proteins identified by proteome tecnique pipel...
21,22,29024632,ENSBTAG00000043553,BosTau11_7:62284999_A|T,TMT_LC-MS/MS_SDS-PAGE,peak lactation,proteins identified by proteome tecnique pipel...
22,23,29024632,ENSBTAG00000018854,BosTau11_1:3824700_C|A,TMT_LC-MS/MS_SDS-PAGE,peak lactation,proteins identified by proteome tecnique pipel...
23,24,29024632,ENSBTAG00000013980,None,TMT_LC-MS/MS_SDS-PAGE,peak lactation,proteins identified by proteome tecnique pipel...
24,25,29024632,ENSBTAG00000001842,None,TMT_LC-MS/MS_SDS-PAGE,peak lactation,proteins identified by proteome tecnique pipel...
25,26,29024632,ENSBTAG00000043553,BosTau11_7:62284800_A|G,TMT_LC-MS/MS_SDS-PAGE,late lactation,proteins identified by proteome tecnique pipel...
26,27,29024632,ENSBTAG00000043553,BosTau11_7:62284999_A|T,TMT_LC-MS/MS_SDS-PAGE,late lactation,proteins identified by proteome tecnique pipel...
27,28,29024632,ENSBTAG00000018854,BosTau11_1:3824700_C|A,TMT_LC-MS/MS_SDS-PAGE,late lactation,proteins identified by proteome tecnique pipel...
28,29,29024632,ENSBTAG00000013980,None,TMT_LC-MS/MS_SDS-PAGE,late lactation,proteins identified by proteome tecnique pipel...
29,30,29024632,ENSBTAG00000043553,BosTau11_7:62284800_A|G,TMT_LC-MS/MS_SDS-PAGE,GWAS,proteins identified by proteome tecnique pipel...
30,31,29024632,ENSBTAG00000043553,BosTau11_7:62284999_A|T,TMT_LC-MS/MS_SDS-PAGE,GWAS,proteins identified by proteome tecnique pipel...
31,32,29024632,ENSBTAG00000018854,BosTau11_1:3824700_C|A,TMT_LC-MS/MS_SDS-PAGE,GWAS,proteins identified by proteome tecnique pipel...
32,33,29024632,ENSBTAG00000013980,None,TMT_LC-MS/MS_SDS-PAGE,GWAS,proteins identified by proteome tecnique pipel...
33,34,29024632,ENSBTAG00000001842,None,TMT_LC-MS/MS_SDS-PAGE,GWAS,proteins identified by proteome tecnique pipel...

after displayed exportation example do you want to save results in a .csv file in OUTPUT folder? (i.e. yes or not): yes